body {
    
}
.principal{
    background: rgb(255, 183, 199);
    padding: 30px;
}

#bannerpets {
    width: 100%
    
}

.titulo-principal{
    padding-left: 20px;
    text-align: center;
}

#missao {
   font-size: 20px;
}

p { 
    text-align: center;
}

em strong {
    color: rgb(68, 33, 1);
}

.itens {
    font-style: italic;
}

.beneficios {
    background: rgb(248, 210, 139);
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
}

ul{
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
}

.imagembeneficios {
    width: 57%;
    
}