:root {
    --amarelo: #FFE3A9 ;
    --amarelo-forte:#fcd68c;
    --rosa-claro: #FFC3C3;
    --rosa: #FF8C8C;
    --rosa-forte: #FF5D5D;
    --branco: #FFFFFF;
    --montserrat: 'Montserrat', sans-serif;
    --bangers: 'Bangers', cursive;
}

body {
    font-family: var(--montserrat);
    background-color: var(--rosa-claro);
}

header {
    background: var(--rosa);
    padding: 10px 0;

}

.topo {
    width: 940px;
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.logo {
    position: absolute;
    left: -10%;
    width: 20%;
    transform: translate(50%, -30%);
}

.inicio, .sobreNos, .produtos-a, .contato {
    margin: 0px 2px 15px;
    padding: 13px 10px;
    color: black;
    font-weight: bold;
}

nav{
    top: 100px;
    right: 0;
    margin: 2em auto;
    
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

}

nav a:hover {
    color: var(--rosa-claro);
    text-decoration: underline;
    font-weight: bold;
}

.redes-sociais {
    display: inline;
    margin: auto;
    text-align: center;  
}

.gato-inicio {
    position: absolute;
    right: 0px;
    width: 185px;
}

/* pag inicial ************************************************/
.principal-inicio  {
    padding: 60px;
    font-family: var(--bangers);
    text-align: center;
    font-size: 50px;
} 

.fotoLua-inicial {
    float: right;
    width: 43%;
}
 
.inicial{
    text-align: center;
    padding: 5px 5px 0px 70px ;
    width: 10%;
    position: relative;
    left: 7%;
    font-weight: bold;
    margin: 0px 0px 20%;
}

.botao-inicial {
    display: block;
    margin-top: 1em;
    width: 70vh;
    background-color: var(--rosa) ;
    border-radius: 30px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
}

.contato-inicial {
    display: block;
    margin-top: 1em;
    width: 74vh;
    background-color: var(--rosa-claro);
    box-sizing: border-box;
    border: 3px solid #FFE3A9;
    border-radius: 30px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
}

.botao-inicial:hover{
    background-color: #FF5D5D;
    color: var(--amarelo);
}
.contato-inicial:hover {
    box-sizing: border-box;
    border: 3px solid #FF5D5D;
    color: var(--rosa-forte);
    
}

/*css da pagina de sobre nos *********************************** */
.bannerpets {
    width: 100%
}

.titulo-principal {
    text-align: center;
    font-family: var(--bangers);
    font-size: 3em;
    margin: 0 0 5px;
    clear: left;
}

#titulo-secundario {
    font-size: 2em;
}

.principal{
    padding: 2em 0;
    background: var(--rosa-claro);
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
    font-size: 20px;
    font-weight: bold;
} 

.principal strong {
   font-weight: bold;
}

.principal em {
    font-style: italic;
}
/*cima, direita, baixo,esquerda*/

.luma {
    float: right;
    margin: 0;
    width: 17%;
}

.luma:hover {
    opacity: 0.7;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FFC3C3, #fab2b3, #FF8C8C);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    font-weight: bold;
}

.conteudo-beneficios{
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
}

.beneficios{
    padding: 3em 0;
    background: linear-gradient(#FF8C8C, #fab2b3);
}

.lista-beneficios {
    width: 60%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    
}

.imagem-beneficios {
    width: 240px;
    opacity: 1;
    box-shadow:10px 10px 5px  black;
}

.imagem-beneficios:hover {
    opacity: 0.3;
    transition: 1s;
}

.itens {
    line-height: 1.5;
}

.itens:before{
    content: "🐾";
}

.itens:first-child {
    font-weight: bold;
}

.instagram-media {
    display: flex;
    flex-wrap: wrap;
}


.fotorodape{
    width: 10%;
    background: black;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin: 20px;
    font-weight: bold;
}

 
/* PRODUTOS *************************************/
    /*cima, direita, baixo,esquerda*/

.produtos-pets-inicio{
    background: var(--rosa-claro);

}
.plaquinhacaes:hover, .plaquinhagato:hover, .rgpet:hover {
    transition: 0.1s;
    opacity: 0.6;
    cursor: pointer;
}

.plaquinhacaes {
    position: absolute;
    left: 30px;
    width: 42%;
    padding: 0px 30px 0px;
}

.botao-caes {
    font-weight: bold;
    font-size: 15px;
    display: block;
    position: absolute;
    left: 20%;
    top: 110%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: var(--branco);
    background-color: var(--rosa);
}

.plaquinhagato {
    display: inline-block;
    width: 80%;
    margin: 0px 150px 0px 1px;
    padding: 0px 5px 0px;
}

.botao-gato {
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 58%;
    top: 37%;
    transform: translate(18%, 450%);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: var(--branco);
    background-color: var(--rosa);
}

.rgpet{
    display: block;
    padding: 0 auto;
    width: 56%;
}

.botao-rgpet {
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 57%;
    top: 105%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: var(--branco);
    background-color: var(--rosa);
}

.botao-gato:active , .botao-caes:active , .botao-rgpet:active, .instagram:active {
    background-color: var(--rosa-forte);
    border-color: var(--amarelo);
    font-family: var(--montserrat);
    font-weight: bold;
}

.texto-produtos {
    font-family: var(--bangers);
    font-size: 4em;
    position: absolute;
    right: 18px;
    transform: translateY(260%); 
}

.texto-produtos:hover {
    color: var(--rosa-forte);
}

.produtos {
    width: 940px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 44%;
    vertical-align: top;
    margin: 14px;
    padding: 20px 10px;
}

.produto-descricao{
    font-size: 17px;
}

.titulo-pets-modelos h2 {
    text-align: center;
}

.pets-modelos-fotos {
    display: block;
    

}

.titulo-modelos {
    position: relative;
    left: 30%;
    font-family: var(--bangers);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.pets-modelos li {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 20px; 
    
}

.foto-pets {
    width: 24%;
    height: 80%;
    cursor: pointer;
    border-radius: 5px;
}

.instagram  {
    display: grid;
    grid-column: 2;
    text-align: center;
    width: 10%;
    margin: auto;
    padding: 13px;
    color: var(--branco);
    background-color: var(--rosa);
    border-radius: 13px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


.titulo-feedbacks {
    font-family: var(--bangers);
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

.feedbacks {
    border: 1px;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    margin: 15px;
    
}

.feedbacks:hover {
    transition: 1s;
    opacity: 0.3;
}





/* CONTATO **************************************/
form {
    padding: 10px;
    background-color: var(--rosa-claro);
    font-weight: bold;

}

.contato-tudo {
    background-color: var(--rosa-claro);
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 0  15px;
    font-weight: bold;
    background-color: var(--rosa-claro);
}

.input-padrao {
    display: block;
    margin: 0 0 0 15px;
    padding: 10px 30px;
    width: 50%;
    background-color: var(--rosa-claro);
    background-color: var(--rosa-claro);
}

.checkbox {
    margin: 0 0 0 15px;

}

.enviar {
    width: 40%;
    padding: 15px 0;
    margin: 0 0 0 40px;
    background-color:var(--amarelo);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    
}

.enviar:hover {
    background-color: var(--amarelo-forte);
    transform: scale(1.1);

}

table {
    margin: 10px 40px;
    background-color: var(--rosa-claro);
    font-weight: bold;
}

thead {
    background: var(--amarelo);
    color: black;
    font-weight: bold;
    
}

td, th{
    border: 1px solid black;
    padding: 8px 90px ;
}

.tags {
    font-size: 40px;
    font-family: var(--bangers);
}


footer {
    text-align: center;
    background: var(--rosa);
    padding: 20px;
   /*background: url("bg.jpg");  imagem de fundo rodapé
    padding:40px;*/
}
/*mobile*/
/*sobre nós*/
@media screen and(max-width: 480px) {
    .topo, .principal, .conteudo-beneficios, .mapa-conteudo {
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav {
        position: static;
    }
}
